<a href="/products"><p>Back to Main Page</p> </a>

<div class="main__product-container cart-container cart-form">
  <%if flash.has?(:message)%>
    <div class="error"><%=flash[:message]%></div>
  <%end%>
  <h2>Your Shopping Cart</h2>
  <h4>Hey, <%=@user.name%>! Let's check out what you've got so far:</h4>

  <p class="cart__container">
    <span>Brand</span>
    <span>Category</span>
    <span>Name</span>
    <span>Cost</span>
    <span>Quantity</span>
  </p>
  <% total = 0 %>
  <% @cart_products.each do |c| %>
    <div class="cart__container">
      <% p = Product.find(c.product_id)%>
      <span><%= p.brand %> </span>
      <span><%= p.category.capitalize %> </span>
      <span><%= p.name %> </span>
      <span>$<%= p.unit_cost %></span>

   <!-- EDIT FORM (INCREASE/DECREASE QTY) -->
      <div class="edit-form">
        <form action="/cart/edit_quantity" method="post">
          <input type="hidden" name="cart[user_id]" value="<%= c.user_id %>">
          <input type="hidden" name="cart[product_id]" value="<%= c.product_id %>">
          <input type="hidden" name="cart[quantity]" value="<%= c.quantity - 1 %>">
          <input id="decrease" class="cart-edit__btn" type="submit" name="submit" value=" - ">
        </form>

        <span> <%= c.quantity %> </span>

        <form action="/cart/edit_quantity" method="post">
          <input type="hidden" name="cart[user_id]" value="<%= c.user_id %>">
          <input type="hidden" name="cart[product_id]" value="<%= c.product_id %>">
          <input type="hidden" name="cart[quantity]" value="<%= c.quantity + 1 %>">
          <input id="increase" class="cart-edit__btn" type="submit" name="submit" value=" + ">
        </form>

   <!-- END OF EDIT FORM (INCREASE/DECREASE QTY) -->

   <!-- DELETE FORM -->
        <form action="/delete" method="post">
          <input type="hidden" name="cart[user_id]" value="<%= c.user_id %>">
          <input type="hidden" name="cart[product_id]" value="<%= c.product_id %>">
          <input type="hidden" name="cart[quantity]" value="<%= c.quantity - 1 %>">
          <input id="decrease" class="cart-edit__btn" type="submit" name="submit" value=" x ">
        </form>
    <!-- END OF DELETE FORM -->
      </div>
    </div>

    <% total = total + (p.unit_cost * c.quantity) %>
  <% end%>
  <h2 class="cart-total">Total: $<%= total %></h2>
  <form action="/order" method="post">
    <input type="hidden" name="order[user_id]" value="<%= @user.id %>">
    <input type="hidden" name="order[total]" value="<%= total %>">
    <input type="submit" name="signup" value="Submit New Order">
  </form>
</div>
