<a href="/products"><p>Back to Main Page</p> </a>

<div class="main__product-container ind__product-container">
  <h2><%= @product.brand %> <%= @product.category.capitalize%>: <%= @product.name %></h2>
  <img class="main__prod--img" src="/img/<%= @product.img %>" alt="<%= @product.name %>-<%= @product.category %> ">
  <div class="main__prod--content">
    <p><%= @product.brand %> <%= @product.category.capitalize%> </p>
    <p><%= @product.name %></p>
    <p><b>$<%= @product.unit_cost %></b></p>
    <p><%= @product.description %></p>
    <form action="/add_product" method="post">
      <input type="hidden" name="cart[product_id]" value="<%= @product.id %>">
      <input type="hidden" name="cart[user_id]" value="<%= @user.id%>">
      <input type="hidden" name="cart[quantity]" value="1">
      <input type="submit" name="submit" value="Add to Cart">
    </form>
  </div>
</div>
