<a href="/products">Back to Main Page</a>
<h2><%= @product.brand %> <%= @product.category.capitalize%>: <%= @product.name %></h2>
<div class="main-page__product-container">
  <img class="main-page__prod--img" src="img/<%= @product.img %>" alt="<%= @product.name %>-<%= @product.category %> ">
  <div class="main-page__prod--content">
    <p><%= @product.brand %> <%= @product.category.capitalize%>: <%= @product.name %> </p>
    <p><b>$<%= @product.cost %></b></p>
    <p><%= @product.description %></p>
    <form action="add_product" method="post">
      <input type="submit" name="submit" value="Add to Cart">
    </form>
  </div>
</div>
