<h2><%= @name %>:</h2>
<h4><b>View By Category:</b> <a href="/products/lipstick">Lipstick</a> - <a href="/products/blush">Blush</a> - <a href="/products/eyeshadow">Eyeshadow</a></h4>

<div class="main__container">
  <% @products.each.with_index(1) do |p, i| %>
  <a href="/products/<%= p.slug %>">
    <div class="main__product-container">
      <img class="main__prod--img" src="/img/<%= p.img %>" alt="<%= p.name %>-<%= p.category %> ">
      <div class="main__prod--content">
        <p><%= p.brand %> <%= p.category.capitalize%></p>
        <p><%= p.name %></p>
        <p><b>$<%= p.cost %></b></p>
        <form action="add_product" method="post">
          <input type="submit" name="submit" value="Add to Cart">
        </form>
      </div>
    </div>
  </a>
  <%end%>
</div>
